<div class="contact-page" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row title justify-content-center">
      <div class="row">&nbsp;</div>
      <h4 class="contact-header">Contact</h4>
      <!--<p class="title-text">M&egrave;nage</p>
      <p class="title-text">Adult Club</p>-->
    </div>
    <div class="row">&nbsp;</div>

    <div class="row justify-content-center">
      <h4 class="address-text">M&egrave;nage</h4>
    </div>
    <div class="row justify-content-center">
      <h4 class="address-text">Adult Club</h4>
    </div>
    <div class="row justify-content-center">
      <h4 class="address-text">3801 HWY 90 W. Westlake, LA, 70669</h4>
    </div>
    <div class="row justify-content-center">
      <h4 class="address-text">Phone: +1 (337) 426 0920</h4>
    </div>

    <div class="row justify-content-center">
      <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.008812987306!2d-93.30431968557758!3d30.236825181812698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x863b8ee1bcfa9395%3A0xd8fd06f4b03e4c26!2s3801+US-90%2C+Westlake%2C+LA+70669!5e0!3m2!1sen!2sus!4v1548216951008"
                class="map-frame"
                frameborder="0"
                style="border:0"
                allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row justify-content-center">
      <p class="socialmedia-caption">Dont forget to follow us!</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-1">&nbsp;</div>
          <div class="col-sm-2">
            <button mat-mini-fab color="accent">
              <a href="https://www.facebook.com/MenageAdultClub/"><fa-icon [icon]="faFacebookF" class="socialmedia-icons"></fa-icon></a>
            </button>
          </div>
          <div class="col-sm-2">
            <button mat-mini-fab color="accent">
              <a href="https://www.instagram.com/menageadultclub"><fa-icon [icon]="faInstagram" class="socialmedia-icons"></fa-icon></a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
      <!--<button mat-mini-fab color="accent">
        <fa-icon [icon]="faSnapchatSquare" class="socialmedia-icons"></fa-icon>
      </button>-->
    </div>
  </div>
</div>
