<!--<div class="floating-btn">
    <button type="submit" class="btn btn-block reservations-btn">Make Your Reservations Today</button>
</div>-->
<div class="jumbotron">
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  <form (ngSubmit)="submitNewSubscriber()" novalidate>
    <div class="form row">
      <div [formGroup]="mailingListForm" class="form-group col-sm-3">
        <input formControlName="firstName" class="form form-control mailinglist-controls" type="text" placeholder="First Name" required>
      </div>
      <div [formGroup]="mailingListForm" class="form-group col-sm-3">
        <input formControlName="lastName" class="form form-control mailinglist-controls" type="text" placeholder="Last Name" required>
      </div>
      <div [formGroup]="mailingListForm" class="form-group col-sm-3">
        <input formControlName="birthday" class="form form-control mailinglist-controls" type="date" placeholder="Birthday" required>
      </div>
      <div [formGroup]="mailingListForm" class="form-group col-sm-3">
        <input formControlName="emailAddress" class="form form-control mailinglist-controls" type="email" placeholder="email@address.com" required>
      </div>
    </div>
    <div class="form row">
      <div class="form-group col-sm-12 mailinglist-btn">
        <button type="submit" class="btn btn-block mailinglist-button">Subscribe</button>
      </div>
    </div>
  </form>
  </div>
</div>
