.p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: .4em;
  line-height: .6em;
  padding-left: 8em;
}
.content-wrapper {
  background-color: white;
}
.content {
  margin-top: -80px;
  color: white;
}
.img-responsive {
  max-height: 90vh;
}

.bottom-left {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-wrapper:hover, .content-wrapper:hover {
  .bottom-left {
    background-color: rgba(255, 255, 255, .01);
  }
}

.photo-details {
  font-size: .8em;
  margin-top: 2em;
  padding-top: 0;
  padding-left: 2.3em;
  padding-bottom: 0;
  line-height: .1em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: 88vh;
  padding: 0;
  margin-left: -1px;
  margin-right: 0;
  margin-bottom: 1em;
}

.overlay {
  position: absolute;
  margin-left: .87em;
  margin-right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 94%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls-overlay {
  position: absolute;
  top: 530px;
  bottom: 0;
  left: 12px;
  right: 0;
  //height: 10px;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  white-space: nowrap;
}

.btn-group {
  align-content: center;
}

.button.btn:focus .button.btn:active {
  outline: none;
  border: none;
}

.button.btn:hover {
  outline: none;
  border: none;
}

.btn.btn-toolbar {
  background-color: white;
}

.btn:hover {
  color: slategrey;
}

.btn {
  border-radius: 0;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: white;
}
.controls {
  position: absolute;
  height: 10px;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .controls-overlay {
  opacity: .8;
}

.mat-stroked-button {
  width: 15%;
}

.btn-group {
  width: 100%;
}

.controls-button-row button,
.controls-button-row a {
  margin-right: 8px;
}

.text {
  color: white;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  font-size: .8em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*
.image-outer-wrapper {

  margin: 0;
  padding:0;
  position: relative;
  width: 400px;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  box-sizing: border-box;
}
*/
/*
.image-wrapper {
  margin: 0;
  padding: -10px;
  z-index: 30;
  box-sizing: border-box;
}

.content-wrapper {
  margin: 0;
  padding:0;
  position: absolute;
  bottom: 0;
  z-index: 40;
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  background: rgba(0,0,0,.3);
}

.content {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 445px;
  box-sizing: border-box;
}

.modal-content {
  width: 445px;
}

.p {
  color: #fff;
}
*/
