<div class="card-fluid">
  <div class="card-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="card-body">
    <ng-content></ng-content>
  </div>
  <div class="card-footer">
    <div class="row">
    <div class="col">
      <button type="button" class="form-control btn-secondary" (click)="yesMessage()">Yes</button>
    </div>
    <div class="col">
      <button type="button" class="form-control btn-secondary" (click)="noMessage()">No</button>
    </div>
    </div>
  </div>
</div>
