.card-title {
    font-size: 1.6em;
    font-weight: bold;
}

.card-title {
    font-size: .8em;
    font-weight: bold;
    line-height: .8em;
    text-align: center;
}

.card-header {
    padding-bottom: 0;
}

.card-body {
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-left: 1.25em;
    padding-bottom: 0;
}

button.close {
    margin-top: -.5em;
    margin-right: -6px;
}